
/* --- HEADER --- */
.header {
    min-height: 80vh;
    height: 500px;
    background: linear-gradient(rgba(255, 0, 255, 0.2),
                                rgba(255, 0, 255, 0.2)),
                url(../img/turma6.jpeg);
    background-size: cover;
    background-position: center 14%;
    background-repeat: no-repeat;
    @include flexbox($align-items: flex-end);
    text-align: center;
    padding: 11rem 2rem 5rem 2rem;
    color: white;
    @media (min-width: 768px) {
            min-height: 75vh;
            text-align: left;
            padding: 5rem 10rem;
    }
    @media (min-width: 1440px) {
        min-height: 90vh;
    }
}

.principal{
    &__titulo {
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: 900;
        @media (min-width: 768px) {
            font-size: 2.9rem;
            
            &__sub {
                font-size: 1.8rem;
            }

            &__btn {
                margin: 0;
            }
        }
        @media (min-width: 1024px) {
            max-width: 650px;
        }

    }
    &__sub {
        font-weight: 300;
        margin: 2rem 0 3rem 0;
        font-size: 1.5rem;
    }
    @media (min-width: 768px) {
        
        &__titulo {
            font-size: 2.9rem;
        }
        
        &__sub {
            font-size: 1.8rem;
        }

        &__btn {
            margin: 0;
        }
    }

    @media (min-width: 1440px) {
            max-width: 650px;
    }
}
