
.banner {
    background: url("../images/foto-banner.jpg");
    background-size: cover;
    margin-top: 85px;
    text-align: center;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__title {
      font-size: 105px;
      @include rgba_opacity( $cor-branca, .9 );
      text-transform: uppercase;
      font-family: 'Varela Round';
      font-weight: 100;
      padding-top: 80px;
      letter-spacing: 8px;
      @media (max-width: 850px) { 
          font-size: 60px;
      }
      @media (max-width: 1024px) {
          font-size: 80px;
      }
    }
    &__subtitle {
      @include rgba_opacity($cor-branca,  0.7);
      font-size: 22px;
      font-weight: 400;
      line-height: 28px;
      @media (max-width: 850px) {
          font-size: 18px;
      }
    }
    &__btn {
      display: inline-block;
      margin-top: 40px;
    }
    @media (max-width: 420px) {
        height: 400px;
        background-position: -360px 0;
    }
  
  }